<extend name="$_admin_public_layout"/>
<block name="main">
    <div id="main" class="col-xs-12 col-sm-10 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
                <li class="text-muted">仓储管理</li><li class="text-muted">仓库列表</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">

            <div class="builder listbuilder-box panel-body">
                <!-- Tab导航 -->

                <!-- 顶部工具栏按钮 -->
                <div class="builder-toolbar">
                    <div class="row">
                        <!-- 工具栏按钮 -->
                        <div class="col-xs-12 col-sm-9 button-list clearfix">
                            <div class="form-group">
                                <a title="新增" class="btn btn-primary" href="{:U('Stock/warehouseInfo')}">新增</a>&nbsp;
                                <a title="删除" target-form="ids" class="btn btn-danger ajax-post confirm" model="Link" href="{:U('Stock/warehouseDel')}">删除</a>&nbsp;
                            </div>
                        </div>
                        <!-- 搜索框 -->
                        <div class="col-xs-12 col-sm-3 clearfix">
                            <form class="form" method="get" action="">
                                <div class="form-group">
                                    <div class="input-group search-form">
                                        <input type="text" name="keyword" class="search-input form-control" value="" placeholder="请输入ID/链接名称">
                                        <span class="input-group-btn"><a class="btn btn-default search-btn"><i class="fa fa-search"></i></a></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 数据列表 -->
                <div class="builder-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="builder-table">
                                <div class="panel panel-default table-responsive">
                                    <table id="warehouseList" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th><input class="check-all" type="checkbox"></th>
                                            <th>名称</th>
                                            <th>负责人</th><th>电话</th>
                                            <th>地址</th><th>备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <foreach name="warehouseList" item="vo">
                                            <tr title="" data-id="{$vo.id}">
                                                <td><input class="ids" type="checkbox" value="{$vo.id}" name="ids[]"></td>
                                                <td><a title="查看库存详情" href="{:U('Stock/stockList')}?id={$vo.id}">{$vo.name}</a></td>
                                                <td>{$vo.partner.name}</td>
                                                <td>{$vo.tel}</td>
                                                <td>{$vo.address}</td>
                                                <th>{$vo.note}</th>
                                            </tr>
                                        </foreach>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- 额外功能代码 -->
            </div>

        </div>

    </div>
</block>
<block name="script">
<script type="text/javascript">

    var tableMenuData = [
        [
        {
            text: "库存详情",
            func: function() {
                var id = $(this).attr('data-id');
                window.location = "{:U('Stock/stockList')}?id=" + id;
            }
        },{
            text: "修改",
            func: function() {
                var id = $(this).attr('data-id');
                window.location = "{:U('Stock/warehouseInfo')}?id=" + id;
            }
        }, {
            text: "删除",
            func: function() {
                var result = confirm('确定要执行该操作？');
                if (!result) return;
                var id = $(this).attr('data-id');
                $.post("{:U('Stock/warehouseDel')}", { id: id}, function(data) {
                    if (data.status) {
                        $.alertMessager(data.info, 'success');
                        window.setTimeout(function() {
                            window.location = data.url;
                        }, 2000);
                    } else {
                        $.alertMessager(data.info, 'danger');
                    }
                } );
            }
        }]
    ];

    $(window).ready(function(e) {

        $("#warehouseList tbody tr").smartMenu(tableMenuData, {
            name: "table"
        });

    });
</script>
</block>