<extend name="$_admin_public_layout"/>
<block name="style">
    <style type="text/css">
        .form-control[disabled], fieldset[disabled] .form-control {
            cursor: auto;
        }
        td.operate {
            text-align: center;
        }
        td .add-row {
            color: #333;
            margin-right: 10px;
        }
        td .del-row {
            text-align: right;
            color: #333;
        }
        .table td.td-select {
            padding: 0;
        }
        td.td-select select {
            border: none;
            border-radius: 0;
        }
        .form-inline .form-group>label.label-left {
            width: 5em;
        }
    </style>
</block>
<block name="main">
    <div id="main" class="col-xs-12 col-sm-10 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <li class="text-muted">仓储管理</li><li class="text-muted">入库</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">

            <div class="builder listbuilder-box panel-body">
                <!-- Tab导航 -->

                <!-- 数据列表 -->
                <div class="builder-container">
                    <form id="stockLog" action="" method="post" class="form-inline" >
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">主题：</label>
                                    <input type="text" class="form-control" name="stockLog.title" value="">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="label-left">时间：</label>
                                    <input type="date" class="form-control" name="stockLog.time" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">来源：</label>
                                    <input type="text" class="form-control" name="stockLog.in_transfer_out" value="">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="label-left">负责人：</label>
                                    <select name="stockLog.partner_id" class="form-control">
                                        <option value="0">请选择：</option>
                                        <foreach name="partnerList" item="vo">
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <h4>商品列表：</h4>
                            <div class="builder-table">
                                <div class="panel panel-default table-responsive">
                                    <table id="purchaseList" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>商品</th>
                                            <th>仓库</th><th>入库数量</th>
                                            <th>条形码列表</th>
                                            <!--<th>备注</th>-->
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 clearfix">
                            <div class="form-group ">
                                <label class="col-sm-1 control-label">备注：</label>
                                <div class="col-sm-11 col-lg-9">
                                    <input type="text" class="form-control" name="stockLog.note" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 顶部工具栏按钮 -->
                <div class="builder-toolbar">
                    <div class="row">
                        <!-- 工具栏按钮 -->
                        <div class="col-xs-12 col-sm-9 button-list clearfix">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-lg-offset-1 col-sm-10">
                                    <button type="button" id="save" class="btn btn-primary">保存</button>
                                    <button type="button" class="btn btn-danger" onclick="history.back();">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 额外功能代码 -->
            </div>

        </div>

    </div>
</block>
<block name="script">
    <script type="text/javascript">

        var warehouseList = {:json_encode($warehouseList)};
        var goodsList = {:json_encode($goodsList)};

        $(window).ready(function (e) {
            // 添加*行
            function addRow(row) {
                var html = '';
                for (var j= 0; j<row; j++) {
                    html += '<tr>' +
                            '<td class="td-select">' +
                            '<select name="goods_id" class="form-control">' +
                            '<option value="">请选择：</option>';
                    for (var i in goodsList) {
                        html += '<option value="'+ goodsList[i].id +'">'+ goodsList[i].name + '·' + goodsList[i].norm +'</option>';
                    }
                    html += '</select></td>' +
                            '<td class="td-select">' +
                            '<select name="warehouse_id" class="form-control">' +
                            '<option value="">请选择：</option>';
                    for (var i in warehouseList) {
                        html += '<option value="'+ warehouseList[i].id +'">'+ warehouseList[i].name +'</option>';
                    }
                    html += '</select></td>' +
                            '<td contenteditable="true" name="num"></td>' +
                            '<td contenteditable="true" name="code_list"></td>' +
                            /*'<td contenteditable="true" name="note"></td>' +*/
                            '<td class="operate">' +
                            '<a class="add-row" title="添加一行" href="javascript:;"><i class="fa fa-plus"></i></a>' +
                            '<a title="删除一行" class="del-row" href="javascript:;"><i class="fa fa-trash-o"></i></a>' +
                            '</td>' +
                            '</tr>';
                }
                return html;
            }
            // 初始化表格
            function initTable() {
                var html = addRow(5);
                $('#purchaseList').find('tbody').html(html);
            }

            //  添加一行
            $('#purchaseList').on('click', '.add-row', function() {
                var html = addRow(1);
                $(this).parents('tr').after(html);
            })

            // 删除一行
            $('#purchaseList').on('click', '.del-row', function() {
                var num = $(this).parents('#purchaseList').find('tr').length;
                if (num === 2) {
                    alert('必须保留一行');
                    return;
                }
                var tr = $(this).parents('tr');
                var result = confirm('确定删除当前行？');
                if (result) {
                    tr.remove();
                }
            })

            function checkForm() {
                var checkStr = '';
                $('body').find('[name*="stockLog."]').each(function () {
                    var key = $(this).attr('name');
                    var value = $(this).val();
                    if (key == 'stockLog.title' && !value) {
                        checkStr = '主题不能为空！';
                        return false;
                    }
                    if (key == 'stockLog.warehouse_id' && !value) {
                        checkStr = '请选择仓库！';
                        return false;
                    }
                    if (key == 'stockLog.partner_id' && !value) {
                        checkStr = '请选择负责人！';
                        return false;
                    }
                });
                return checkStr;
            }

            function getTableData() {
                var detailList = new Array();
                var detail = null;
                $('#purchaseList').find('tbody tr').each(function() {
                    detail = new Object();
                    detail.goods_id = $(this).find('[name="goods_id"]').val();
                    detail.num = $(this).find('[name="num"]').html();
                    detail.warehouse_id = $(this).find('[name="warehouse_id"]').val();
                    detail.code_list = $(this).find('[name="code_list"]').html();
                    detail.note = $(this).find('[name="note"]').html();
                    console.log($(this).find('[name="warehouse_id"]').val());
                    if (!detail.goods_id && !detail.num) {
                        return;
                    }
                    if (!detail.goods_id || !detail.num || !detail.warehouse_id) {
                        $.alertMessager('商品、仓库、数量为必填参数', 'danger');
                        return false;
                    }
                    detailList.push(detail);
                });
                if (detailList.length == 0) {
                    $.alertMessager('请添加采购的商品', 'danger');
                }
                return detailList;
            }


            function getFormData() {
                var stockLog = new Object();
                stockLog.title = $('[name="stockLog.title"]').val();
                // stockLog.warehouse_id = $('[name="stockLog.warehouse_id"]').val();
                stockLog.time = $('[name="stockLog.time"]').val();
                stockLog.partner_id = $('[name="stockLog.partner_id"]').val();
                stockLog.note = $('[name="stockLog.note"]').val();
                stockLog.in_transfer_out = $('[name="stockLog.in_transfer_out"]').val();
                if (!stockLog.time) {
                    delete stockLog.time;
                }
                return stockLog;
            }


            $('#save').on('click', function() {
                var checkStr = checkForm();
                if (checkStr) {
                    $.alertMessager(checkStr, 'danger');
                    return;
                }
                var stockLog  = getFormData();
                var detailList = getTableData();
                console.log(stockLog);
                console.log(detailList);
                if (detailList.length == 0) {
                    return;
                }
                $.post("{:U('Stock/purchase')}", {stockLog: stockLog, detailList: detailList}, function(data) {
                    console.log(data);
                    if (!data.status) {
                        $.alertMessager('修改失败', 'danger');
                    } else {
                        $.alertMessager('修改成功', 'success');
                        window.setTimeout(function() {
                            window.location = "{:U('Stock/stockLogList')}";
                        }, 2000);
                    }
                });
            })

            // 初始化
            initTable();
        });
    </script>
</block>