<extend name="$_admin_public_layout"/>
<block name="main">
    <div id="main" class="col-xs-12 col-sm-10 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
                <li class="text-muted">仓储管理</li><li class="text-muted">库存操作记录</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">

            <div class="builder listbuilder-box panel-body">
                <!-- Tab导航 -->

                <!-- 顶部工具栏按钮 -->
                <div class="builder-toolbar">
                    <div class="row">
                        <!-- 工具栏按钮 -->
                        <div class="col-xs-12 col-sm-9 button-list clearfix">

                        </div>
                        <!-- 搜索框 -->
                        <div class="col-xs-12 col-sm-3 clearfix">
                            <form class="form" method="get" action="">
                                <div class="form-group">
                                    <div class="input-group search-form">
                                        <input type="text" name="keyword" class="search-input form-control" value="" placeholder="请输入ID/链接名称">
                                        <span class="input-group-btn"><a class="btn btn-default search-btn"><i class="fa fa-search"></i></a></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 数据列表 -->
                <div class="builder-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="builder-table">
                                <div class="panel panel-default table-responsive">
                                    <table id="stockLogList" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>编号</th><th>主题</th>
                                            <th>方向</th>
                                            <th>来去地址</th><th>负责人</th>
                                            <th>时间</th><th>备注</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--offset="0" length='10'-->
                                        <volist name="stockLogList" id="vo">
                                            <tr title="" data-id="{$vo.id}">
                                                <td>{$vo.id}</td>
                                                <td>{$vo.title}</td>
                                                <td><switch name="vo.status">
                                                    <case value="1" >入库</case>
                                                    <case value="0">转移</case>
                                                    <case value="-1">出库</case>
                                                </switch></td>
                                                <td>{$vo.in_transfer_out}</td>
                                                <td>{$vo.partner.name}</td>
                                                <td>{$vo.time}</td>
                                                <td>{$vo.note}</td>
                                                <td><a title="详情" class="label label-primary" href="{:U('stockLogDetail')}?id={$vo.id}">详情</a></td>
                                            </tr>
                                        </volist>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div style="text-align: right;">
                                {$page}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 额外功能代码 -->
            </div>

        </div>

    </div>
</block>
<block name="script">
<script type="text/javascript">
    var stockLogList = {:json_encode($stockLogList)};
    console.log(stockLogList);
    var tableMenuData = [
        [{
            text: "修改",
            func: function() {
                var id = $(this).attr('data-id');
                window.location = "{:U('Stock/stockInfo')}?id=" + id;
            }
        }, {
            text: "删除",
            func: function() {
                var result = confirm('确定要执行该操作？');
                if (!result) return;
                var id = $(this).attr('data-id');
                $.post("{:U('Stock/stockDel')}", { id: id}, function(data) {
                    if (data.status) {
                        $.alertMessager(data.info, 'success');
                        window.setTimeout(function() {
                            window.location = data.url;
                        }, 2000);
                    } else {
                        $.alertMessager(data.info, 'danger');
                    }
                } );
            }
        }]
    ];

    $(window).ready(function(e) {

        /*$("#stockList tbody tr").smartMenu(tableMenuData, {
            name: "table"
        });*/

    });
</script>
</block>