<extend name="$_admin_public_layout"/>
<block name="style">
    <style type="text/css">

    </style>
</block>
<block name="main">
    <div id="main" class="col-xs-12 col-sm-10 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <li class="text-muted">仓储管理</li><li class="text-muted">调拨</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">

            <div id="stockLog" class="builder listbuilder-box panel-body">
                <!-- Tab导航 -->

                <!-- 数据列表 -->
                <div class="builder-container">
                    <form action="" method="post" class="form-inline" >
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">主题：</label>
                                    <input type="text" class="form-control" name="stockLog.title" value="">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="label-left">时间：</label>
                                    <input type="text" class="form-control" id="dateTimePicker" readonly name="stockLog.create_time" value="{$curTime}">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">调出仓库：</label>
                                    <select name="stockLog.warehouse_id_out" class="form-control">
                                        <option value="">请选择：</option>
                                        <foreach name="warehouseList" item="vo">
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        </foreach>
                                    </select>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="label-left">调入仓库：</label>
                                    <select name="stockLog.warehouse_id_in" class="form-control">
                                        <option value="">请选择：</option>
                                        <foreach name="warehouseList" item="vo">
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">负责人：</label>
                                    <select name="stockLog.partner_id" class="form-control">
                                        <option value="">请选择：</option>
                                        <foreach name="partnerList" item="vo">
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-xs-12 col-lg-12">
                            <div class="builder-table">
                                <div class="panel panel-default table-responsive">
                                    <table id="transferList" class="table table-bordered table-striped table-hover table-input">
                                        <caption>调拨商品表</caption>
                                        <thead>
                                        <tr>
                                            <th>商品</th>
                                            <th>数量</th>
                                            <th>当前库存</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 clearfix">
                            <div class="form-group ">
                                <label class="col-sm-1 control-label">备注：</label>
                                <div class="col-sm-11 col-lg-9">
                                    <textarea class="form-control" name="stockLog.note" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 顶部工具栏按钮 -->
                <div class="builder-toolbar">
                    <div class="row">
                        <!-- 工具栏按钮 -->
                        <div class="col-xs-12 col-sm-9 button-list clearfix">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-lg-offset-1 col-sm-10">
                                    <button type="button" id="save" class="btn btn-primary">保存</button>
                                    <button type="button" class="btn btn-danger" onclick="history.back();">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 额外功能代码 -->
            </div>

        </div>

    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(window).ready(function (e) {
            var goodsList = {:json_encode($goodsList)};
            console.log(goodsList);

            var myTable = $('table');
            var trTemplate = '<tr>' +
                    '<td class="td-select">' +
                    '<select name="goods_id" class="form-control">' +
                    '<option value="">请选择：</option>';
            for (var i in goodsList) {
                trTemplate += '<option value="'+ goodsList[i].id +'">'+ goodsList[i].name + '·' + goodsList[i].norm +'</option>';
            }
            trTemplate += '</select></td>' +
                    '<td><input type="number" name="num" min="1" max=""></td>' +
                    '<td><input type="number" name="total" readonly></td>' +
                    '<td class="operate">' +
                        '<a class="add-row" title="添加一行" href="javascript:;"><i class="fa fa-plus"></i></a>' +
                        '<a title="删除一行" class="del-row" href="javascript:;"><i class="fa fa-trash-o"></i></a>' +
                    '</td>' +
                    '</tr>';

            // 初始化表格
            function initTable() {
                var html = trTemplate + trTemplate + trTemplate + trTemplate + trTemplate;
                myTable.find('tbody').append(html);
            }

            //  添加一行
            myTable.on('click', '.add-row', function() {
                broadin.addTableRow(this, trTemplate, 1);
            });

            // 删除一行
            myTable.on('click', '.del-row', function() {
                broadin.delTableRow(this);
            });

            $('#save').on('click', function() {
                var stockLog = {title: '', warehouse_id_out: '', warehouse_id_in: '', partner_id: '', create_time: '', note: ''};
                var stockLogCheck = { partner_id: '请选择负责人', warehouse_id_out: '请选择调出仓库', warehouse_id_in: '请选择调入仓库'};
                var logDetail = {goods_id: '', num: ''};
                var logDetailCheck = {goods_id: '', num: ''};
                stockLog = broadin.getFormData('#stockLog', stockLog, 'stockLog', stockLogCheck);
                console.log(stockLog);
                if (!stockLog) {
                    return;
                }
                var detailList = broadin.getTableData('#transferList', logDetail, null, logDetailCheck);
                console.log(detailList);
                if (!detailList) {
                    return;
                }
                broadin.ajaxPost("{:U('Stock/transfer')}", {stockLog: stockLog, detailList: detailList});
            });
            /**
             * 显示库存余量
             */
            function showStock() {
                console.log('showStock');
                var warehouse_id_out = $('select[name="stockLog.warehouse_id_out"]').val();
                if (!warehouse_id_out) {
                    return;
                }
                $('#transferList').find('tbody tr').each(function() {
                    var goods_id = $(this).find('select[name="goods_id"]').val();
                    var total = 0;
                    if (goods_id) {
                        for (var i in goodsList) {
                            if (goodsList[i].id == goods_id) {
                                for (var j in goodsList[i].stockList) {
                                    if (goodsList[i].stockList[j].warehouse_id == warehouse_id_out) {
                                        total = goodsList[i].stockList[j].num;
                                        break;
                                    }
                                }
                            }
                        }
                        $(this).find('[name="total"]').val(total);
                        $(this).find('[name="num"]').attr('max', total);
                    }
                });
            }

            $('select[name="stockLog.warehouse_id_out"]').on('change', function() {
                showStock();
            });

            $('#transferList tbody').on('change', 'select[name="goods_id"]', function() {
                showStock();
            });

            // 初始化
            initTable();

            $('#dateTimePicker').datetimepicker({
                language: 'zh-CN',
                format: 'yyyy-mm-dd hh:ii:ss',
                autoclose: true,
                todayBtn: true
            });

        });
    </script>
</block>