<extend name="$_admin_public_layout"/>
<block name="style">
    <style type="text/css">

    </style>
</block>
<block name="main">
    <div id="main" class="col-xs-12 col-sm-10 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <li class="text-muted">仓储管理</li><li class="text-muted">库存操作记录</li><li class="text-muted">调拨详情</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">

            <div class="builder listbuilder-box panel-body">
                <!-- Tab导航 -->

                <!-- 数据列表 -->
                <div class="builder-container">
                    <form id="stockLog" action="" method="post" class="form-inline" >
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">编号：</label>
                                    <span class="form-control">{$stockLog.no}</span>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="label-left">时间：</label>
                                    <span class="form-control">{$stockLog.create_time}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">出货仓库：</label>
                                    <span class="form-control">{$stockLog.warehouse_out.name}</span>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="label-left">进货仓库：</label>
                                    <span class="form-control">{$stockLog.warehouse_in.name}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">主题：</label>
                                    <span class="form-control">{$stockLog.title}</span>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="label-left">负责人：</label>
                                    <span class="form-control">{$stockLog.partner.name}</span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-12 col-lg-12">
                            <h4>调拨商品列表：</h4>
                            <div class="builder-table">
                                <div class="panel panel-default table-responsive">
                                    <table id="purchaseList" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>商品</th>
                                            <th>数量</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <foreach name="stockLog.detailList" item="vo">
                                            <tr>
                                                <td>{$vo.goods.name}·{$vo.goods.norm}</td>
                                                <td>{$vo.num}</td>
                                            </tr>
                                        </foreach>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 clearfix">
                            <div class="form-group ">
                                <label class="col-sm-1 control-label">备注：</label>
                                <div class="col-sm-11 col-lg-9">
                                    <span class="form-control">{$stockLog.note}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 顶部工具栏按钮 -->
                <div class="builder-toolbar">
                    <div class="row">
                        <!-- 工具栏按钮 -->
                        <div class="col-xs-12 col-sm-9 button-list clearfix">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-lg-offset-1 col-sm-10">
                                    <button type="button" class="btn btn-danger" onclick="history.back();">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 额外功能代码 -->
            </div>

        </div>

    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(window).ready(function (e) {

        });
    </script>
</block>