<extend name="$_admin_public_layout"/>
<block name="main">
    <div id="main" class="col-xs-12 col-sm-10 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <li class="text-muted">供应商管理</li><li class="text-muted">供应商列表</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">

            <div class="builder listbuilder-box panel-body">
                <!-- Tab导航 -->
                <!-- 顶部工具栏按钮 -->
                <div class="builder-toolbar">
                    <div class="row">
                        <!-- 工具栏按钮 -->
                        <div class="col-xs-12 col-sm-9 button-list clearfix">
                            <div class="form-group">
                                <a title="新增" class="btn btn-primary" href="{:U('Supplier/supplierInfo')}?way=edit">新增</a>&nbsp;
                            </div>
                        </div>
                        <!-- 搜索框 -->
                        <div class="col-xs-12 col-sm-3 clearfix">
                            <form class="form" method="get" action="">
                                <div class="form-group">
                                    <div class="input-group search-form">
                                        <input type="text" name="keyword" class="search-input form-control" value="" placeholder="请输入ID/名称">
                                        <span class="input-group-btn"><a class="btn btn-default search-btn"><i class="fa fa-search"></i></a></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 数据列表 -->
                <div class="builder-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="builder-table">
                                <div class="panel panel-default table-responsive">
                                    <table  id="supplierList" class="table table-bordered table-striped table-hover">
                                        <caption>供应商列表</caption>
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>名称</th>
                                            <th>电话</th>
                                            <th>分组</th>
                                            <th>联系人</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <foreach name="supplierList" item="vo">
                                            <tr title="" data-id="{$vo.id}">
                                                <td>{$vo.id}</td>
                                                <td>{$vo.name}</td>
                                                <td>{$vo.tel}</td>
                                                <td>{$vo.supplier_group.name}</td>
                                                <td><foreach name="vo.linkman" item="v">{$v.name}&nbsp;&nbsp;</foreach></td>
                                                <td>
                                                    <a class="label label-primary" title="采购信息" href="{:U('Supplier/supplierProcurement')}?id={$vo.id}">采购信息</a>
                                                    <a class="label label-primary" title="供应商详细信息" href="{:U('Supplier/supplierInfo')}?id={$vo.id}&way=show">详情</a>
                                                    <a class="label label-warning btn-edit" title="编辑" href="{:U('Supplier/supplierInfo')}?id={$vo.id}&way=edit" >编辑</a>
                                                    <a class="label label-danger btn-del" title="删除" href="{:U('Supplier/supplierDel')}" >删除</a>
                                                </td>
                                            </tr>
                                        </foreach>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- 额外功能代码 -->
            </div>

        </div>

    </div>
</block>
<block name="script">
<script type="text/javascript">
    $(window).ready(function(e) {

    });
</script>
</block>