<extend name="$_admin_public_layout"/>
<block name="style">
    <style type="text/css">

    </style>
</block>
<block name="main">
    <div id="main" class="col-xs-12 col-sm-10 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <li class="text-muted">销售管理</li><li class="text-muted">新增销售单</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">

            <div id="sell" class="builder listbuilder-box panel-body">
                <!-- Tab导航 -->

                <!-- 数据列表 -->
                <div class="builder-container">
                    <form action="" method="post" class="form-inline" >
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">编号</label>
                                    <input type="hidden" name="sell.id" value="{$sell.id}">
                                    <input type="text" name="sell.no" value="{$sell.no}" readonly class="form-control">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="label-left">时间：</label>
                                    <input type="text" class="form-control dateTimePicker" readonly name="sell.update_time" value="{$sell.update_time}">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">主题：</label>
                                    <input type="text" class="form-control" name="sell.title" value="{$sell.title}">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="label-left">状态：</label>
                                    <select name="sell.status" class="form-control">
                                        <option <eq name="sell.status" value="-1">selected</eq> value="-1">已取消</option>
                                        <option <eq name="sell.status" value="0">selected</eq> value="0">计划中</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">出货仓库：</label>
                                    <select class="form-control" name="sell.warehouse_id_out">
                                        <option value="">请选择：</option>
                                        <foreach name="warehouseList" item="vo">
                                            <switch name="vo.id">
                                                <case value="$sell.warehouse_id_out">
                                                    <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                                                </case>
                                                <default/>
                                                <option value="{$vo.id}">{$vo.name}</option>
                                            </switch>
                                        </foreach>
                                    </select>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="label-left">负责人：</label>
                                    <select class="form-control" name="sell.partner_id">
                                        <option value="">请选择：</option>
                                        <foreach name="partnerList" item="vo">
                                            <switch name="vo.id">
                                                <case value="$sell.partner_id">
                                                    <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                                                </case>
                                                <default/>
                                                <option value="{$vo.id}">{$vo.name}</option>
                                            </switch>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">客户：</label>
                                    <input type="text" class="form-control" name="sell.customer" value="{$sell.customer}">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-xs-12 col-lg-12">
                            <div class="builder-table">
                                <div class="panel panel-default table-responsive">
                                    <table id="sellList" class="table table-bordered table-striped table-hover table-input">
                                        <caption>销售商品列表</caption>
                                        <thead>
                                        <tr>
                                            <th>商品</th>
                                            <th>数量</th>
                                            <th>单价</th>
                                            <th>小计</th>
                                            <th>库存</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <foreach name="sell.detailList" item="vo">
                                            <tr data-id="{$vo.id}">
                                                <td class="td-select">
                                                    <select name="goods_id" class="form-control" >
                                                        <option value="">请选择：</option>
                                                        <foreach name="goodsList" item="v">
                                                            <switch name="vo.goods_id">
                                                                <case value="$v.id">
                                                                    <option selected="selected" value="{$v.id}">{$v.name}·{$v.norm}</option>
                                                                </case>
                                                                <default/>
                                                                <option value="{$v.id}">{$v.name}·{$v.norm}</option>
                                                            </switch>
                                                        </foreach>
                                                    </select>
                                                </td>
                                                <td><input type="number" data-count="num" name="num" value="{$vo.num}"></td>
                                                <td><input type="number" data-count="per_price" name="per_price" value="{$vo.per_price}"></td>
                                                <td><input type="text" name="sub_total" readonly="" value="{$vo[num] * $vo[per_price]}"></td>
                                                <td><input type="text" name="total" readonly="" value="{$vo.total}">
                                                <td class="operate">
                                                    <a class="add-row" title="添加一行" href="javascript:;"><i class="fa fa-plus"></i></a>
                                                    <a title="删除一行" class="del-row" href="javascript:;"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        </foreach>
                                            <tr class="tr-default">
                                                <td>总计</td>
                                                <td class="countNum">{$sell.count_num}</td><td></td>
                                                <td class="countTotal">{$sell.count_price}</td><td></td><td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <form action="" method="post" class="form-inline" >
                        <div class="row" >
                            <div class="col-xs-12">
                                <div class="form-group col-xs-6">
                                    <label class="label-left">实收金额：</label>
                                    <input type="number" class="form-control" name="sell.total_price" value="{$sell.total_price}">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-horizontal">
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-xs-12 clearfix">
                            <div class="form-group ">
                                <label class="col-sm-1 control-label">备注：</label>
                                <div class="col-sm-11 col-lg-9">
                                    <textarea class="form-control" name="sell.note"  rows="3">{$sell.note}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 顶部工具栏按钮 -->
                <div class="builder-toolbar">
                    <div class="row">
                        <!-- 工具栏按钮 -->
                        <div class="col-xs-12 col-sm-9 button-list clearfix">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-lg-offset-1 col-sm-10">
                                    <button type="button" id="save" class="btn btn-primary">保存</button>
                                    <button type="button" class="btn btn-danger" onclick="history.back();">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 额外功能代码 -->
            </div>

        </div>

    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(window).ready(function (e) {
            var goodsList = {:json_encode($goodsList)};
            console.log(goodsList);
            var myTable = $('#sellList');
            var trTemplate = '<tr>' +
                    '<td class="td-select">' +
                    '<select name="goods_id" class="form-control">' +
                    '<option value="">请选择：</option>';
            for (var i in goodsList) {
                trTemplate += '<option value="'+ goodsList[i].id +'">'+ goodsList[i].name + '·' + goodsList[i].norm +'</option>';
            }
            trTemplate += '</select></td>' +
                    '<td><input type="number" data-count="num" name="num"></td>' +
                    '<td><input type="number" data-count="per_price" name="per_price"></td>' +
                    '<td><input type="text" name="sub_total" readonly></td>' +
                    '<td><input type="text" name="total" readonly></td>' +
                    '<td class="operate">' +
                    '<a class="add-row" title="添加一行" href="javascript:;"><i class="fa fa-plus"></i></a>' +
                    '<a title="删除一行" class="del-row" href="javascript:;"><i class="fa fa-trash-o"></i></a>' +
                    '</td>' +
                    '</tr>';

            // 初始化表格
            function initTable() {
                var html = '';
                // html += '<tr class="tr-default"><td>总计</td><td class="countNum"></td><td></td><td class="countTotal"></td><td></td><td></td></tr>';
                // myTable.find('tbody').append(html);
            }

            //  添加一行
            myTable.on('click', '.add-row', function() {
                broadin.addTableRow(this, trTemplate, 1);
            });

            // 删除一行
            myTable.on('click', '.del-row', function() {
                broadin.delTableRow(this, "{:U('Goods/sellDetailDel')}");
            });

            // 保存数据
            $('#save').on('click', function() {
                var sell = {id: '', title: '', warehouse_id_out: '', partner_id: '', status: '', customer: '', update_time: '', total_price: '', note: ''};
                var sellCheck = {warehouse_id_out: '请选择出货仓库', partner_id: '请选择负责人', total_price: '请输入付款金额'};
                sell = broadin.getFormData('#sell', sell, 'sell', sellCheck);
                console.log(sell);
                if (!sell) {
                    return;
                }
                var detail = {id: '', goods_id: '', num: '', per_price: ''};
                var detailCheck = {goods_id: '', num: '', per_price: ''};
                var detailList = broadin.getTableData('#sell', detail, null, detailCheck);
                console.log(detailList);
                if (!detailList) {
                    return;
                }
                broadin.ajaxPost("{:U('Sell/sellEdit')}", {sell: sell, detailList: detailList});
            });

            // 统计商品价格
            myTable.on('blur', '[data-count]', function() {
                var tr = $(this).parents('tr');
                setSubTotal(tr);
            });
            myTable.on('change', 'select', function() {
                var tr = $(this).parents('tr');
                var goods_id = tr.find('[name="goods_id"]').val();
                var elementPrice = tr.find('[data-count="per_price"]');
                for (var i in goodsList) {
                    if (goods_id == goodsList[i].id) {
                        elementPrice.val(goodsList[i].price);
                        break;
                    }
                }
                setSubTotal(tr);
            });
            // 获取当前行小计
            function getSubTotal(tr) {
                var subTotal = tr.find('[data-count="num"]').val() * tr.find('[data-count="per_price"]').val();
                var goods_id = tr.find('[name="goods_id"]').val();
                if (goods_id && subTotal) {
                    return subTotal;
                }
            }
            // 设置当前行小计
            function setSubTotal(tr) {
                var subTotal = getSubTotal(tr);
                if (subTotal) {
                    tr.find('[name="sub_total"]').val(subTotal.toFixed(2));
                } else {
                    tr.find('[name="sub_total"]').val('');
                }
                setCountTotal();
            }

            // 获取商品价格合计与商品总数
            function getCountTotal() {
                var count = {
                    price: 0,
                    num: 0
                }
                myTable.find('tbody tr').each(function() {
                    var subTotal = $(this).find('[name="sub_total"]').val();
                    var subNum = $(this).find('[name="num"]').val();
                    if (!subTotal) return;
                    count.price += parseFloat(subTotal);
                    count.num += parseInt(subNum);
                });
                return count;
            }
            // 显示商品合计
            function setCountTotal() {
                var count = getCountTotal();
                if (count.price) {
                    $('.countTotal').html(count.price.toFixed(2));
                    $('.countNum').html(count.num);
                    $('[name="sell.total_price"]').val(count.price.toFixed(2));
                }
            }

            function setStockNum() {
                var warehouse_id_out = $('select[name="sell.warehouse_id_out"]').val();
                if (!warehouse_id_out) {
                    return;
                }
                myTable.find('tbody tr').each(function() {
                    var goods_id = $(this).find('select[name="goods_id"]').val();
                    if (goods_id) {
                        var total = 0;
                        for (var i in goodsList) {
                            if (goodsList[i].id == goods_id) {
                                for (var j in goodsList[i].stockList) {
                                    if (goodsList[i].stockList[j].warehouse_id == warehouse_id_out) {
                                        total = goodsList[i].stockList[j].num;
                                        break;
                                    }
                                }
                            }
                        }
                        $(this).find('[name="total"]').val(total);
                    }
                });
            }

            $('[name="sell.warehouse_id_out"]').on('change', function() {
                setStockNum();
            });

            // 显示商品库存
            myTable.on('change', 'select', function() {
                var goods_id = $(this).parents('tr').find('select[name="goods_id"]').val();
                var warehouse_id_out = $('select[name="sell.warehouse_id_out"]').val();
                if (goods_id && warehouse_id_out) {
                    var total = 0;
                    for (var i in goodsList) {
                        if (goodsList[i].id == goods_id) {
                            for (var j in goodsList[i].stockList) {
                                if (goodsList[i].stockList[j].warehouse_id == warehouse_id_out) {
                                    total = goodsList[i].stockList[j].num;
                                    break;
                                }
                            }
                        }
                    }
                    $(this).parents('tr').find('[name="total"]').val(total);
                }
            });

            // 初始化
            function init() {
                initTable();
            }
            init();
        });
    </script>
</block>